/** 공통으로 적용될 스타일(header, footer 등) */

// 공통 파일들 참조
@import "_colors.scss";
@import "_reset.scss";
@import "_responsive.scss";

// 모든 태그에 대한 기본 설정 사항
* {
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

// 링크에 대한 기본 설정
a {
    text-decoration: none;
    color: $black;
}


/* -----------------------------------------------------------
* 상단 영역
* ------------------------------------------------------------ */
.header {
    position: absolute;
    z-index: 100000;    // 메뉴 부분이 항상 위에 떠있게 하기 위해서
    left: 0;
    right: 0;
    // position: absolute를 주면 사이즈르 명시해야 함
    width: 100%;

    .menu {
        max-width: 1800px;      // 1800보다 작은 넓이에서는 100%의 역할
        display: flex;
        margin: auto;

        li {
            text-align: center;

            // 태블릿 사이즈 이하에서는 균등 분할되도록 만들기
            @include desktop-md {
                width: 20%;

                span {
                    display: block;
                    margin-top: 5px;
                    font-size: 13px;
                }
            }

            &:last-child {
                margin-left: auto;

                span {
                    display: none;

                    @include desktop-md {
                        display: block;
        
                    }
                }
            }

            a {
                display: block;
                font-size: 18px;
                font-weight: 500;
                padding: 17px 20px;

                &:hover {
                    background-color: $black-op;
                }

                span {
                    margin-left: 7px;
                    font-size: 17px;

                    @include desktop-md {
                        display: block;
                        margin-top: 5px;
                        font-size: 13px;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}


/* -----------------------------------------------------------
* 하단 영역
* ------------------------------------------------------------ */
.footer {
    background-color: $black;
    text-align: center;
    padding: 50px 10px;

    .to-the-top {
        display: inline-block;
        background-color: $light-gray;
        padding: 10px 25px;
        font-size: 18px;
        color: $gray;
        margin-bottom: 10px;

        i {
            margin-right: 10px;
        }

        &:hover {
            background-color: $green;
            color: $black;
        }
    }

    .social-list {
        // background-color: aqua;
        display: flex;
        justify-content: center;

        a {
            color: $white;
            display: block;
            font-size: 35px;
            margin: 20px 10px 40px 10px;

            &:hover {
                color: $green;
            }
        }
    }

    address {
        color: $white;
        font-size: 18px;
    }
}